:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-tittle-cl: #ffffff;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.link.current {
  color: var(--accent-cl);
}

.contact-info-header {
  color: var(--main-text-cl);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web-part {
  color: var(--accent-cl);
}

.studio-part {
  color: var(--title-cl);
}

.studio-white-part {
  color: var(--alt-tittle-cl);
}

.list {
  list-style: none;
}

.first-bg {
  background-color: var(--dark-bg);
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-tittle-cl);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  background-color: var(--second-bg);
  cursor: pointer;
}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
  color: var(--alt-tittle-cl);
  background-color: var(--accent-cl);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-cl);
}

.subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  line-height: 1.71;
  color: var(--main-text-cl);
}

.team-item {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-item-name {
  font-weight: 500;
  color: var(--title-cl);
}

.second-bg {
  background-color: var(--second-bg);
}

.address {
  font-style: inherit;
}

.contact {
  color: var(--alt-tittle-cl);
}

.contact-info {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
